<div class="user" [ngClass]="{'winner':user?.currentWinner,'current-user':isCurrentUser }">
    <div class="game-label">
        WIN
    </div>
    <div class="sub-container">

        <div class="conainer-avatar">
            <div id="circle" *ngIf="user?.connected">
            </div>
            <img src="/assets/images/avatar.jpeg" alt="">
        </div>
        <span class="name">{{ user?.pseudo }} {{ user?.globalScore }}
      {{ user?.admin?'admin' : '' }}</span>
        <app-response-card [number]="user?.currentResponse"></app-response-card>
    </div>
</div>