<div class="game-rules">
  <div id="parchment">
    <p>Dans l'un des rares jeux auxquels les joueurs peuvent jouer assis et sans bouger, Alice in Borderland place
      Chishiya à une table avec quatre autres joueurs à l'intérieur du somptueux bâtiment de la Cour suprême. </p>
    <p>Dans ce jeu, la complexité est la clé : <b>Les joueurs ont trois minutes</b> pour choisir un nombre entre
      <strong>0 et 100</strong>. Une fois ce choix effectué, le système de jeu prend tous les nombres choisis, <b> les
        additionne et obtient une moyenne, qui est multipliée par </b> <strong>0,8</strong>. Celui qui choisit le nombre
      <u>le plus proche du résultat final gagne la manche</u> . Si vous n'êtes pas le gagnant, vous perdez un ou
      plusieurs points, et c'est là que ça devient terrifiant.</p>
    <p>Chaque fois que vous perdez un ou plusieurs points, une énorme cuvette située au-dessus de votre tête se remplit
      d'acide sulfurique.</p>
    <p>NB: <i>Chaque fois qu'un nouveau joueur est éliminé, une nouvelle règle est ajoutée.</i></p>
    <ul>
      <li>Si votre score atteint -10 points, le bassin devient trop lourd et bascule, déversant l'acide sur le joueur et
        le tuant instantanément. </li>
      <li>Si deux joueurs ou plus choisissent la même réponse, leurs réponses seront annulées et ils perdent chacun 1
        point. </li>
      <li>Si le gagnant tombe sur le numéro exact, les autres joueurs perdront deux points chacun.</li>
      <li>Si un joueur choisit le chiffre 0, son adversaire remporte la manche si il choisit le chiffre 100.</li>
    </ul>
  </div>
</div>
